<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../bower_components/paper-styles/color.html">
<link rel="import" href="chromedash-color-status.html">

<!-- https://github.com/ljosa/urlize.js -->
<script src="urlize.js"></script>

<script>
  Polymer({
    is: 'html-echo',
    properties: {
      html: {
        type: String,
        observer: '_htmlChanged'
      }
    },
    _htmlChanged: function() {
      this.innerHTML = this.html;
    }
  });
</script>

<dom-module id="multi-links">
  <link rel="import" type="css" href="../css/shared.css">
  <template>
    <template is="dom-repeat" items="{{links}}" as="link" index-as="i">
      <a href$="{{link}}" target="_blank"
         class$="{{_computeShowComma(links, i)}}">{{title}} {{_addOne(i)}}</a>
    </template>
  </template>
  <script>
    Polymer({
      is: 'multi-links',
      properties: {
        title: {
          type: String,
          value: 'Link'
        },
        links: {
          type: Array,
          value: function() { return []; }
        }
      },
      _prettyURLFilter: function(val) {
        return val.replace(/https?:\/\//, '');
      },
      _computeShowComma: function(links, i) {
        var notLastOne = links.length > 1 && i < links.length - 1;
        return notLastOne ? 'comma' : '';
      },
      _addOne: function(i) {
        return i + 1;
      }
    });
  </script>
</dom-module>

<dom-module id="chromedash-feature">
<link rel="import" type="css" href="../css/elements/chromedash-feature.css">
<template>
<div class="main-content-area">
  <hgroup on-tap="toggle">
    <chromedash-color-status class="tooltip corner"
       title="Compatibility risk: perceived interest from browser vendors and web developers"
       value="[[compatRisk]]" max="[[MAX_RISK]]"></chromedash-color-status>
    <h2>{{feature.name}}</h2>
    <div class="iconrow">
      <label class="category" on-tap="categoryFilter">{{feature.category}}</label>
      <div class="topcorner">
        <template is="dom-if" if="{{removed}}">
          <span class="tooltip" title="Removed feature">
            <iron-icon icon="icons:cancel" class="remove" data-tooltip></iron-icon>
          </span>
        </template>
        <template is="dom-if" if="{{deprecated}}">
          <span class="tooltip" title="Deprecated feature">
            <iron-icon icon="icons:warning" class="deprecated" data-tooltip></iron-icon>
          </span>
        </template>
        <template is="dom-if" if="{{needsflag}}">
          <span class="tooltip" title="Experimental feature behind a flag">
            <iron-icon icon="icons:extension" class="experimental"></iron-icon>
          </span>
        </template>
        <template is="dom-if" if="{{whitelisted}}">
          <span class="tooltip" title="Edit this feature">
            <a href$="{{_computeEditLinkHidden(feature)}}" class="editfeature" data-tooltip>
              <iron-icon icon="icons:create"></iron-icon>
            </a>
          </span>
        </template>
      </div>
    </div>
  </hgroup>
  <section class="desc" on-tap="toggle">
    <summary>
      <!-- <html-echo html="[[_urlizeFilter(feature.summary)]]"></html-echo> -->
      <span>[[feature.summary]]</span>
    </summary>
  </section>
  <template is="dom-if" if="{{open}}">
    <section class="sidebyside">
      <div class="flex">
        <h3>Implementation status</h3>
        <div class="impl_status">
          <template is="dom-if" if="{{feature.shipped_milestone}}">
            <span class="chrome_desktop tooltip" title="Chrome desktop">
              <label>{{feature.impl_status_chrome}}</label><span>{{feature.shipped_milestone}}</span>
            </span>
          </template>
          <template is="dom-if" if="{{!feature.shipped_milestone}}">
            <span class="chrome_desktop"><label>{{feature.impl_status_chrome}}</label></span>
          </template>
          <template is="dom-if" if="{{feature.shipped_android_milestone}}">
            <span class="chrome_android tooltip" title="Chrome for Android">
              <iron-icon icon="icons:android" class="android"></iron-icon>
              <span>{{feature.shipped_android_milestone}}</span>
            </span>
          </template>
          <template is="dom-if" if="{{feature.shipped_webview_milestone}}">
            <span class="chrome_webview tooltip" title="Chrome Webview">
              <label>Webview</label><span>{{feature.shipped_webview_milestone}}</span>
            </span>
          </template>
          <template is="dom-if" if="{{feature.prefixed}}">
            <span><label>Prefixed</label><span>Yes</span></span>
          </template>
          <template is="dom-if" if="{{feature.bug_url}}">
            <span>
              <span>Launch bug</span>
              <a href$="{{feature.bug_url}}" target="_blank">[[_computeCrbug(feature.bug_url)]]</a>
            </span>
          </template>
          <template is="dom-if" if="{{feature.owner.length}}">
            <span class="owner">
              <label>Owner(s)</label>
              <span class="owner-list">
                <template is="dom-repeat" items="{{feature.owner}}" as="owner" index-as="i">
                  <a href="#" on-tap="ownerFilter">{{owner}}</a>
                </template>
              </span>
            </span>
          </template>
        </div>
      </div>
      <div class="flex">
        <h3>Consensus &amp; standardization</h3>
        <div class="views">
          <span title="{{feature.ff_views.text}}" class="view tooltip">
            <chromedash-color-status class="bottom"
                value="{{feature.ff_views.value}}"
                max="{{MAX_VENDOR_VIEW}}"></chromedash-color-status>
            <template is="dom-if" if="{{feature.ff_views_link}}">
              <a href$="{{feature.ff_views_link}}" target="_blank">
                <span class="vendor-view ff-view"></span>
              </a>
            </template>
            <span class="vendor-view ff-view" hidden$="{{feature.ff_views_link}}"></span>
          </span>
          <span title="{{feature.ie_views.text}}" class="view tooltip">
            <chromedash-color-status class="bottom"
                value="[[feature.ie_views.value]]"
                max="[[MAX_VENDOR_VIEW]]"></chromedash-color-status>
            <template is="dom-if" if="{{feature.ie_views_link}}">
              <a href$="{{feature.ie_views_link}}" target="_blank">
                <span class="vendor-view edge-view"></span>
              </a>
            </template>
            <span class="vendor-view edge-view" hidden$="{{feature.ie_views_link}}"></span>
          </span>
          <span title="{{feature.safari_views.text}}" class="view tooltip">
            <chromedash-color-status class="bottom"
                value="[[feature.safari_views.value]]"
                max="[[MAX_VENDOR_VIEW]]"></chromedash-color-status>
            <template is="dom-if" if="{{feature.safari_views_link}}">
              <a href$="{{feature.safari_views_link}}" target="_blank">
                <span class="vendor-view safari-view"></span>
              </a>
            </template>
            <span class="vendor-view safari-view" hidden$="{{feature.safari_views_link}}"></span>
          </span>
          <template is="dom-if" if="{{feature.shipped_opera_milestone}}">
            <span title="Shipped. Desktop: {{feature.shipped_opera_milestone}}, Android: {{feature.shipped_opera_android_milestone}}" class="view opera-view tooltip">
              <chromedash-color-status class="bottom"
                  value="1" max="[[MAX_VENDOR_VIEW]]"></chromedash-color-status>
              <span class="vendor-view"></span>
            </span>
          </template>
          <span title="Web developers: {{feature.web_dev_views.text}}" class="view webdev-view tooltip">
            <chromedash-color-status class="bottom"
                value="[[feature.web_dev_views.value]]"
                max="[[MAX_WEBDEV_VIEW]]"></chromedash-color-status>
            <iron-icon icon="icons:accessibility"></iron-icon>
          </span>
          <span class="standardization view">
            <chromedash-color-status class="bottom"
                value="[[feature.standardization.value]]"
                max="[[MAX_STANDARDS_VAL]]"></chromedash-color-status>
            <!-- <span class="vendor-view w3c-view"></span> -->
            <template is="dom-if" if="{{feature.spec_link}}">
              <a href$="{{feature.spec_link}}" target="_blank">{{feature.standardization.text}}</a>
            </template>
            <label hidden$="{{feature.spec_link}}">{{feature.standardization.text}}</label>
          </span>
        </div>
      </div>
    </section>
    <template is="dom-if" if="{{_computeShowResources(feature)}}">
      <section>
        <h3>Developer resources</h3>
        <div class="resources">
          <label>Documentation/samples:</label>
          <template is="dom-if" if="{{_computeShowDocLinks(feature)}}">
            <div class="doc_links">
              <multi-links links="[[feature.doc_links]]" title="Link"></multi-links>
            </div>
            <span hidden$="{{!_computeSampleLinks(feature)}}">,</span>
          </template>
          <template is="dom-if" if="{{_computeSampleLinks(feature)}}">
            <div class="sample_links">
              <multi-links links="[[feature.sample_links]]" title="Sample"></multi-links>
            </div>
          </template>
        </div>
      </section>
    </template>
    <template is="dom-if" if="{{feature.comments}}">
      <section>
        <h3>Comments</h3>
        <summary class="comments">
          <html-echo html="[[_computeHtml(feature)]]"></html-echo>
        </summary>
      </section>
    </template>
  </template>
</div>
<a href$="{{_computeStandaloneHref(feature)}}" target="_blank"
   class="open-standalone" title="View on standalone page">
  <!-- <iron-icon icon="icons:open-in-new" class="opennew" data-tooltip></iron-icon> -->
  <img src="openinnew.svg" class="opennew">
</a>
</template>
<script>
  Polymer({
    is: 'chromedash-feature',
    extends: 'li',

    properties: {
      MAX_RISK: {
        type: Number,
        computed: '_computeMaxRisk(MAX_VENDOR_VIEW, MAX_WEBDEV_VIEW, MAX_STANDARDS_VAL)'
      },
      MAX_STANDARDS_VAL: {
        type: Number,
        value: 6,
        readOnly: true
      },
      MAX_VENDOR_VIEW: {
        type: Number,
        value: 7,
        readOnly: true
      },
      MAX_WEBDEV_VIEW: {
        type: Number,
        value: 6,
        readOnly: true
      },
      compatRisk: {
        type: Number,
        value: 0
      },
      deprecated: {
        type: Boolean,
        computed: '_computeDeprecated(feature.impl_status_chrome)'
      },
      removed: {
        type: Boolean,
        computed: '_computeRemoved(feature.impl_status_chrome)'
      },
      feature: {
        type: Object,
        observer: '_featureChanged'
      },
      needsflag: {
        type: Boolean,
        value: false
      },
      whitelisted: {
        type: Boolean,
        value: false
      },
      open: {
        type: Boolean,
        notify: true,
        reflectToAttribute: true, // for styling.
        computed: '_featureOpen(feature.open)'
      }
    },

    _featureOpen: function(open) {
      return open || false;
    },

    _toggle: function(e, details) {
      if (e) {
        // Don't toggle panel if tooltip or link is being clicked.
        var target = Polymer.dom(e).localTarget;
        if (target.classList.contains('tooltip') || 'tooltip' in target.dataset ||
            target.tagName == 'A' || target.tagName == 'MULTI-LINKS') {
          return;
        }
      }

      this.set('feature.open', !this.feature.open);

      // Feature panel was toggled via user manual click.
      this.fire('feature-toggled', {feature: this.feature, open: this.feature.open});
    },

    toggle: function() {
      this._toggle();
    },

    categoryFilter: function(e, details) {
      e.stopPropagation();
      this.fire('filter-category', {val: Polymer.dom(e).localTarget.textContent});
    },

    ownerFilter: function(e, details) {
      e.stopPropagation();
      this.fire('filter-owner', {val: Polymer.dom(e).localTarget.textContent});
    },

    _urlizeFilter: function(val) {
      return urlize(val, {target: '_blank', trim: 'www', autoescape: true});
    },

    _calculateCompatRisk: function() {
      var vendors = (this.feature.ff_views.value + this.feature.ie_views.value + this.feature.safari_views.value) / 3;
      var webdevs = this.feature.web_dev_views.value;
      var standards = this.feature.standardization.value;
      this.compatRisk = vendors + webdevs + standards;
    },

    _featureChanged: function() {
      this._calculateCompatRisk();  // TODO: these values are brittle if the strings change.
    },

    _computeTitle: function(removed) {
      return removed ? 'Removed feature' : 'Deprecated feature';
    },
    _computeStandaloneHref: function(feature) {
      return '/feature/' + feature.id;
    },
    _computeShowResources: function(feature) {
      return feature.doc_links.length || feature.sample_links.length;
    },
    _computeShowDocLinks: function(feature) {
      return feature.doc_links && feature.doc_links.length > 0;
    },
    _computeSampleLinks: function(feature) {
      return feature.sample_links && feature.sample_links.length > 0;
    },
    _computeHtml: function(feature) {
      return this._urlizeFilter(feature.comments);
    },
    _computeMaxRisk: function(vendorViewVal, webdevViewVal, standardsVal) {
      return vendorViewVal + webdevViewVal + standardsVal;
    },
    _computeRemoved: function(implStatusChrome) {
      return implStatusChrome == 'Removed';
    },
    _computeDeprecated: function(implStatusChrome) {
      return implStatusChrome === 'Deprecated' ||
             implStatusChrome === 'No longer pursuing';
    },
    _computeEditLinkHidden: function(feature) {
      return '/admin/features/edit/' + feature.id;
    },
    _computeCrbug: function(link) {
      if (!link) {
        return link;
      }
      var m = link.match(/[\/|?id=]([0-9]+)$/); // pull out bug number.
      if (m) {
        return '#' + m[1];
      }
      return link;
    }
  });
</script>
</dom-module>
